<nav class="py-2 d-flex align-items-center justify-content-between">
    <ul class="list-unstyled d-flex justify-content-center align-items-center">
        <li><a routerLink="home"><img src="../../assets/image/logo-dark(1).webp" class="w-100" alt="">ff</a></li>
        <li *ngIf="isLogin" class="mt-1"><a routerLink='home'>Home</a></li>
    </ul>
    <ul class="list-unstyled d-flex">
        <li><a><i class="fab fa-facebook"></i></a></li>
        <li><a><i class="fab fa-github"></i></a></li>
        <li ><a><i class="fab fa-youtube"></i></a></li>
        <li class="me-4 "><a><i class="fab fa-twitter"></i></a></li>
        <li *ngIf="!isLogin"><a routerLink='login'>Login</a></li>
        <li *ngIf="!isLogin"><a routerLink='register'>Register</a></li>
        <li (click)="logout()" *ngIf="isLogin"><a routerLink=''>Logout</a></li>
    </ul>
</nav>